body{
background-color: navajowhite;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 30px solid transparent;
border-image: url(https://i.pinimg.com/736x/0a/70/1f/0a701fba79862cbaef7e1822080bbc2c.jpg) 70 round;
margin: 0;
padding: 0;
}
h1{
    color: magenta;
}

.menu{
    background-color: aquamarine;
    border: 2px solid white;
    text-align: center;
}

.menu li{
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}